<strong>Olá, {{ nameOrganizer }}</strong>
<p>Houve uma inscrição no evento {{titleMeetup}}, confira os detalhes abaixo:</p>
<p>
  <strong>Nome do participante: </strong> {{ nameUser }} <br />
  <strong>Email do participante: </strong> {{ emailUser }} <br />
</p>
